/*!
 *   AdminLTE v2.4.2
 *   Author: Almsaeed Studio
 *	 Website: Almsaeed Studio <https://adminlte.io>
 *   License: Open source - MIT
 *           Please visit http://opensource.org/licenses/MIT for more information
 */
body {
    /*  font-family: 'Titillium Web', sans-serif;*/
    font-family: open sans, Helvetica, sans-serif;
}

.container {
    min-height: 100%;
}

.scroller {
    /* overflow-x: hidden; */
    overflow-y: scroll;
    width: 100%; /* CAONTAINER*/
    background: #fff;

    /* Must be 'scroll' not 'auto' */
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.wrapperer {
}

.items_alone {
    text-align: center;
    width: 80px;
    height: 26px;
    float: left;
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: #e9ebee;
    font-size: 18px;
    font-weight: 800;
    cursor: default;
}
.items_space {
    text-align: center;
    width: 80px;
    height: 5px;
    float: left;
    background: #ecf0f5;
    padding-top: 3px;
}
.bar-month {
    font-weight: 600;
    text-align: center;
    width: 80px;
    height: 30px;
    float: left;
    background: #5f7c8a;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #5f7c8a;
    color: #fff;
}
.bar-month-end {
    border-right: 1px solid #ddd;
}
.bar-days {
    text-align: center;
    width: 80px;
    height: 55px;
    float: left;
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.days-date {
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    line-height: 12px;
    margin: 6px 0 2px;
    color: #777;
    font-size: 11px;
}
.days-occup {
    font-weight: 300;
    font-size: 12px;
    line-height: 11px;
    color: #777;
}

.cell-rounded-start {
    position: float;
    top: 3px;
    cursor: pointer;
    height: 23px;
    padding: 0 10px;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    -webkit-transform: skew(135deg);
    -moz-transform: skew(135deg);
    -ms-transform: skew(135deg);
    -o-transform: skew(135deg);
    transform: skew(135deg);

    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.start-cell {
    margin-top: 3px;
    position: relative;
    font-weight: 100;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    padding-bottom: 1px;






    text-align: left;
    margin-left: 40px;

    /* -webkit-transform: skew(20deg);
       -moz-transform: skew(20deg);
         -o-transform: skew(20deg); */

    transform: skew(-50deg);

}

.cell-multiple{
    border-left: 3px solid #5F7C8A;
    /* border-bottom: 2px solid #5F7C8A; */
}

.start-cell-guest {
    padding-left: 8px;

    display:inline-block;
    transform: skew(50deg) !important;
}
.guest-in-house {
    /* background: #44B16D;*/
    /* background: #00a65a; */
    /* background: #00a65a; */
    background: #59c187;
}
.guest-confirmed {
    /*background: #03A8F3;*/
    /* background: #65c7ef; */
    background: #5bbaff;
}
.guest-check-out {
    /*background: #9F9F9F;*/
    /*background: #90a4ae;*/
    background: #d5d5d5;
}
.guest-maintenance {
    /* background: #FF5722; */
    /* background: #dd4b39; */
    background: #FF043F;
}

.gocupacy {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    align-self: center;
    -webkit-justify-content: center;
    height: 22px;
    width: 60px;
    /*background-color: #00c853 !important;*/
    /* background-color: #4CAF50 !important; */
    background-color: #f1faff !important;
    /*background-color: #FE5621 !important;*/
    /*background-color: #F34235 !important;*/
    /*background-color: #b7ced5 !important;*/
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
    font-size: 15px;
    font-weight: 700;
    color: #009ef7;
    text-align: center;
    /* margin-right: 30px; */
    margin-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.iglobal {
    line-height: 12px;
    margin: 6px 0 5px;
    color: #777;
    font-size: 15px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 5px;
}
.bar-i {
    text-align: center;
    width: 80px;
    height: 70px;
    float: left;
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.gfrom {
    font-weight: 300;
    font-size: 13px;
    line-height: 11px;
    color: #777;
    margin-bottom: 3px;
}


.arrivals {
    margin-top: 3px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    align-self: center;
    -webkit-justify-content: center;
    height: 18px;
    width: 50px;
    /*background-color: #00c853 !important;*/
    /* background-color: #ff5722 !important; */
    background-color: #e8fff3 !important;
    /*background-color: #FE5621 !important;*/
    /*background-color: #F34235 !important;*/
    /*background-color: #b7ced5 !important;*/
    border-radius: 9px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
    font-size: 10px;
    font-weight: 700;
    color: #50cd89;
    text-align: center;
    /* margin-right: 30px; */
    margin-left: 14px;
}
.animate-cell {
    /* color: #000; */
    width: 100px;
    height: 100px;
    animation: cell-anim 1s infinite;
    background-color: transparent !important;
}
@keyframes cell-anim {
    0% {
        color: #5F7C8A;
    }
    25% {
        color: #FF5722;
    }
    75% {
        color: #fff;
    }
    100% {
        color: #000;
    }
}

.guest-log {
    position: absolute;
    height: 5px;
    top: -9px;
    left: -3px;
    /* float: left; */

    display:inline-block;
    transform: skew(50deg) !important;
}
.cell-circle {
    color: #fff;
    height: 8px;
    width: 8px;
    padding: 2px;

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
}
.cell-circle: hover {
    cursor: move;
}
.cell-circle-info1 {
    background-color: #ffd54f;
}
.cell-circle-info2 {
    background-color: #ff5722;
}

.cell-sh {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}



.guest-log3 {
    position: absolute;
    height: 5px;
    top: -9px;
    left: 5px;
    /* float: left; */

    display:inline-block;
    transform: skew(50deg) !important;
}

.cell-circle3 {
    position: relative;
    color: #fff;
    height: 8px;
    width: 8px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
}

.cell-circle-info3 {
    margin-left: 1px;
    background-color: #FF5722;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-system {
    background-color: #ddd;
    color: #fff;
    margin-top: 7px;
}

.today {
    /* background-color: #ffe6e6;  */
    /* background-color: #F3F9FE; */
    /* background-color: #ffefd5; */
    background-color: #fff8dd;
}

/** columns **/
.column-left {
    float: left;
    width: 230px;
    background: #403e3d;
    height: 100%;
}

.column-center {
    display: inline-block;
    width: 300px;
    background: #576f93;
    height: 100%;
}

.column-right {
    float: right;
    width: 300px;
}

.bar-month-fixed {
}

.text-month-bar {
    padding-top: 5px;
    position: relative;
    font-weight: 900;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    width: 500px;
    text-align: left;
    margin-left: 5px;
    text-transform: uppercase;
}

.item_select {
    text-align: center;
    width: 80px;
    height: 26px;
    float: left;
    border-bottom: 1px solid #fe5621;
    border-right: 1px solid #fe5621;
    border-left: 1px solid #fe5621;
    border-top: 1px solid #fe5621;
    padding-top: 3px;
}

/********* start dashboard css -------- */
.drop-hover {
    text-align: center;
    width: 80px;
    height: 26px;
    float: left;
    border-bottom: 1px solid #fe5621;
    border-right: 1px solid #fe5621;
    border-left: 1px solid #fe5621;
    border-top: 1px solid #fe5621;
    padding-top: 3px;
}
.popover-content-add-guest {
    padding: 7px;
    width: 450px !important;
    max-width: none !important;
    max-width: 400px !important;
    width: 400px !important;
    display: none;
}
/*
.popover {
        max-width:none !important;
    }
*/
.popover {
    max-width: 410px !important;
    height: 386px !important;
}
.loading_screen {
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    background: rgba(0, 187, 211, 0.1);
    z-index: 100;
    display: none;
}

.logind_element {
    background-image: url(https://i.imgur.com/sQIE63C.gif);
    padding-top: 200px;
    margin: auto;
    width: 60px;
    background-repeat: no-repeat;
    background-size: 60px 60px;
}

.popover_title {
    color: #28a745;
    font-weight: 900;
}

.country_control {
    display: inline !important;
    text-transform: capitalize;
}
.precio_hub {
    margin-left: 20px;
    font-size: 25px;
    /* font-weight: 900;*/
    border-bottom: 2px solid #00a65a;

    color: #00a65a;
}
.popover-o {
    width: auto !important;
    height: 38px !important;
}
.psuccess_log {
    color: #5cb85c;
}
.pfailed_log {
    color: #d9534f;
}

/* Tab Payment */
.tab_main_container {
    height: 285px;
    width: 378px;
    overflow-y: scroll;
    padding-right: 10px;
}
.container_tab_pay_main {
    margin-top: 5px;
    border-top: 1px solid #f5f5f6;
    padding-top: 5px;
}
.container_tab_pay_status {
    margin-top: 5px;
    border-bottom: 5px solid #f5f5f6;
    padding-top: 5px;
    padding-bottom: 4px;
}

.container_tab_pay {
    display: flex;
}
.splited_tab {
    flex: 50%;
}
.tab_pay_right {
    text-align: right;
}
.group-forms {
    margin-top: 5px;
}

.tab_title_text {
    font-size: 16px;
    font-weight: 600;
}
.tab_header_text {
    font-size: 12px;
}

.tab_pay_left_status {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin-right: 2px;
}

.tab_pay_right_status {
    text-align: left;
    font-size: 16px;
}
#dashboard-guest-tab_pay-loading {
    text-align: center;
    padding-top: 10px;
}

.left-tab {
    float: left;
    margin: 0 1.5%;
    width: 40%;
}

.montos {
    font-size: 14px;
}

.display_text_montos2 {
    width: 80px;
    display: inline-block;
    text-align: right;
    margin-right: 3px;
    font-weight: 600;
    font-size: 16px;
}
.display_text_montos1 {
    width: 40px;
    display: inline-block;
    text-align: right;
    margin-right: 3px;
    font-weight: 600;
    font-size: 14px;
}
.tmontos_show {
    font-size: 16px;
}
/********* end dashboard css -------- */

/********* end toogle css -------- */
.toogle_logo {
    float: left;
    color: #fff;
    font-size: 30px;
    padding: 3px 3px;
}

/********* end toogle css -------- */

/********* START MENU css -------- */
.items_alone_panel {
    text-align: right;
    width: 80px;
    height: 26px;
    float: left;
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: #777;
    cursor: default;
    padding-top: 3px;
    padding-right: 10px;
}
.arrivals_panel {
    margin-top: 3px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    align-self: center;
    -webkit-justify-content: center;
    height: 18px;
    width: 30px;
    /*background-color: #00c853 !important;*/
    /*background-color: #FE5621 !important;*/
    /*background-color: #F34235 !important;*/
    /*background-color: #b7ced5 !important;*/
    border-radius: 9px;
    font-size: 10px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
}
.panel_collapsed {
    display: none;
}
/********* end MENU css -------- */

@media only screen and (max-width: 900px) {
    .toogle_logo {
        display: none;
    }
}

.hide_mobile {
}

/* tiny_mobile */
@media only screen and (max-width: 400px) {
    .tiny_mobile {
        display: none !important;
    }
}
@media only screen and (max-width: 800px) {
    .tiny_logo {
        display: none !important;
    }
}


.auto_list{
    display: inline;
    position: absolute;
    top: 147px;
    left: 15px;
}
.dropdown_list{
    display:block;
    position:relative;
    width: 250px;

}
.dropdown_list>li>a{
    padding-left: 12px;
}

/* .form-control:focus {
    /* border-color: #66afe9; */
    /* outline: 0; */
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); */
            /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); */
  /* }*/
.auto_find {
    border-color:#59C187;
    /* outline: 0; */
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(89, 193, 135, 0.6); */
            /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(89, 193, 135, 0.6); */
  }
label{
    margin-bottom: 0px;
  }
.controls{
    margin-bottom: 7px;
}

.move_element{
    top:0;left: -16px;
    border-color:#000;
    /* color: #000; */
}



.fa-diamond{
    font-size: 15px;
}
.fa-file-pdf-o{
    font-size: 14px;
}
.fa-repeat{
    font-size: 15px;
}

.skin-red .main-header .navbar {
    background-color: #F24949 !important;
}



.logo-mini{
    
    background: #fff !important;
}
.logo-lg{
    font-family: 'Titillium Web', sans-serif;
    /* font-size: 30px; */
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 0px !important;
    }
}